.type-container {
  height: var(--header-height);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: space-between;

  color: var(--background-color);

  gap: 10px;
}

.type-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--background-color);
  font-weight: bold;
}

.active {
  color: rgba(var(--active-color-rgb), 0.8);
}

.type-label {
  width: 100%;
  grid-column: 1 / span 3;
  text-align: center;
  border-top: 1px solid var(--border-color);
}
