.dashboard {
  width: 100%;
  aspect-ratio: 4/3;
  contain: layout paint size;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  position: relative;
  margin: 5px;
  overflow: hidden;
  z-index: calc(var(--z-index) + 1);
}
.dashboard canvas {
  position: absolute;
  inset: 0;
  display: block;
}
.bitmap {
  z-index: calc(var(--z-index) + 2);
}
.vector {
  z-index: calc(var(--z-index) + 3);
}
.overlay {
  z-index: calc(var(--z-index) + 4);
}
.handler {
  position: absolute;
  inset: 0;
  z-index: calc(var(--z-index) + 5);
  pointer-events: auto;
}
