.dashboard {
  position: relative;
  width: 800px;
  height: 600px;
  overflow: hidden;
  background-color: var(--background-color);
  border-radius: var(--default-figure);
  box-shadow: var(--box-shadow);
  margin: var(--default-figure);
}

.dashboard canvas.bitmap,
.dashboard canvas.vector,
.dashboard canvas.overlay {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  inset: 0;
  border: 0;
  padding: 0;
}

.dashboard canvas.bitmap {
  z-index: calc(var(--z-index) + 1);
  pointer-events: none;
}

.dashboard canvas.vector {
  z-index: calc(var(--z-index) + 2);
  pointer-events: none;
}

.dashboard canvas.overlay {
  z-index: calc(var(--z-index) + 3);
  pointer-events: auto;
  cursor: crosshair;
}
