.canvas-container {
  position: relative;
  background-color: var(--background-color);
  overflow: hidden;
  box-shadow: var(--box-shadow);
  margin: 5px;
}

.canvas-wrap {
  display: block;
}

.resize-handle {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--primary-color);
  cursor: se-resize;
}

.bottom-right {
  bottom: -7.5px;
  right: -7.5px;
}
