#header{
  width: 100%;
  max-width: var(--max-width);
  height: var(--header-height);
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  border-radius: var(--border-radius) var(--border-radius) 0 0 ;
}

.tool-btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
