#main{
  width: 100%;
  max-width: 768px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}


.sr-only{
  opacity: 0;
  visibility: hidden;
}
