.bitmap-wrap {
  display: block;

  position: absolute;
  inset: 0;

  background-color: var(--background-color);
  box-shadow: var(--box-shadow);

  z-index: calc(var(--z-index) + 1);
}

.resize-handle.bottom-right {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
  cursor: se-resize;
  border-top-left-radius: 4px;
}
